.App {
  background-color: mistyrose;
  height: 100%;
}

.logoBar {
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  object-fit: contain;
}

.menuBar {
  display: flex;
  justify-content: center;
}

.menuButton {
  margin: 10px 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menuButtonClicked {
  margin: 10px 30px;
  text-decoration: underline;
  color: crimson;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.line {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 10px 160px;
}

.imageHome {
  width: 25vw;
  object-fit: contain;
  margin: 0px 5px;
}
